aiofiles
aiohttp
alembic
azure-functions
beautifulsoup4
blinker
click
coloredlogs
cryptography
dataclasses-json
emoji
filetype
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
greenlet
html5lib
httpx
idna
itsdangerous
Jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-unstructured
langdetect
langsmith
lxml
Mako
MarkupSafe
mysql-connector-python
numpy
nltk
onnxruntime
openai
orjson
pandas
protobuf
psutil
PyMySQL
pypdf
python-dateutil
python-dotenv
python-iso639
pytube
pytz
PyYAML
RapidFuzz
regex
requests
requests-toolbelt
scikit-learn
scipy
six
soupsieve
SQLAlchemy
sympy
tenacity
threadpoolctl
tqdm
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
Werkzeug
WTForms
yarl
youtube-transcript-api
yt-dlp
zstandard
PyJWT
