{% extends "base.html" %}
{% block register %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

<div class="limiter">
    <div class="container-login100" style="background-image: url('{{ url_for('static', filename='images/1.jpg') }}');">
        <div class="wrap-login100">
            <form class="login100-form" action="" method="POST" id="registerForm" novalidate>
                {{ form_register.hidden_tag() }}                
                <span class="login100-form-logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
                </span>
                <span class="login100-form-title p-b-34 p-t-27">
                </span>
                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    {{form_register.username }}
                </div>
                {% for error in form_register.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                 <div class="wrap-input100 validate-input" data-validate="Enter email">
                    {{form_register.email }}
                </div>
                {% for error in form_register.email.errors%}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    {{form_register.password }}
                </div>
                {% for error in form_register.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    {{form_register.confirm_password }}
                </div>
                {% for error in form_register.confirm_password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                <div class="container-login100-form-btn">
                    {{form_register.submit(class="login100-form-btn")}}
                </div>
                <div class="text-center p-t-30">
                    <a class="txt1" href={{url_for('bp_users.login')}} id="showSignUp">Volver a login</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock register %}
